body {
    font-family: Arial, sans-serif;
    background-color: #0A0A0A;
    color: #EDEDED;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-image 1s ease-in-out;
    min-height: 100vh; /* Ensure body takes up at least the full viewport height */
    box-sizing: border-box; /* Include padding and border in the total height */
}

header {
    background-color: #202020;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    margin: 0;
    color: #F0E68C;
}

#champion-info {
    width: 50%;
    text-align: center;
    background-color: #202020CC;
    padding: 20px;
    border-radius: 8px;
}

#champion-info input, #champion-info button {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

#champion-info button {
    background-color: #F0E68C;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

#champion-info button:hover {
    background-color: #D4AF37;
}

#champion-result {
    margin-top: 20px;
}

#champion-result img {
    max-width: 200px;
}

#champion-result h3 {
    margin: 10px 0 5px;
}

#champion-result p {
    margin: 5px 0;
}

.skill {
    padding: 20px;
}

.back-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #D4AF37;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.back-button:hover {
    background-color: #F0E68C;
}

footer {
    background-color: #202020;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    position: relative;
    bottom: 0;
}